body {
   display :grid;
   grid-template-columns: 100px 200px;
   grid-template-rows: 200px 100px;
   gap: 10px;
}

.box {
    background-color: tomato;
    display: flex;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.box:nth-child(3) {
    background-color: cadetblue;
    grid-column: 1 / -1;
}

