body {
    display :flex;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* flex-direction : row;
    flex-wrap : wrap; */
    flex-flow: row wrap;
    /* align-content: center; */
}

.box {
    background-color: tomato;
    width: 200px;
    height: 200px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* .box:nth-child(3) {
    background-color: aquamarine;
    order: 2;
}

.box:nth-child(5) {
    background-color: cornflowerblue;
    order: 1;
} */

.box:first-child {
    align-self: flex-start;
}